version: '3.8'

services:
  plex-portal:
    build: .
    container_name: plex-portal
    ports:
      - "3000:3000"
    env_file:
      - ./config/.env
    environment:
      NODE_ENV: "${NODE_ENV:-production}"
    volumes:
      # Logo et fichiers de config
      - ./config:/config

      # DB Tautulli (lecture seule)
      - /mnt/user/appdata/tautulli:/tautulli-data
    restart: unless-stopped

    # Optionnel: reseau custom
    # networks:
    #   - plex-network

# Optionnel
# networks:
#   plex-network:
#     driver: bridge
